/* Date:2019-12-04 */
/* Group members: Abhinay Arora, Ashley Dcosta, Daiva Paznekas */
/* Flat Earthers Unite */

/*body {max-width: inherit; max-height: inherit;
  background: linear-gradient(to top, #000066 0%, #ffffff 100%);
font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}*/
/*"fixed" position in top left corner"*/
body {background-color: black;}

/*{
  box-sizing: border-box;
}
*/
/*Daiva*/
.logo {
    position: relative;
    top: 0;
    left: 0;
    /* responsive image W3schools start*/
    max-width: 100%;
    height: auto;
    /* W3schools end*/
}
/*.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/*W3schools start [fixed top menu]*/
/* navigation bar basics BY Abhinay Arora*/ 
.navbar {
  overflow: hidden;
	width:100%;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 160px;
}

.navbar a:hover{
  background-color: grey;
}

.main {
  margin-top: 30px;
}

/* --------------------------------------------------------------------------------------------------------------------------*/
/*Formatting - Daiva */

p {
    font-family: sans-serif;
    color: white;
    font-variant: small-caps;
    font-size:10vw;
}

a {
    font-family: sans-serif;
    color: white;
    font-variant: small-caps;
    font-size:10vw;
}

h3 {
    font-family: sans-serif;
    color: white;
    font-variant: small-caps;
    font-size:20vw;
}

.credits {
    font-family: sans-serif;
    color: white;
    font-variant: small-caps;
    font-size:5vw;
}

/* --------------------------------------------------------------------------------------------------------------------------*/

.FirstPage {
	margin:50px;
	width: auto;
	background: none;
	}

.lies { background-color: grey;
  position: absolute;
  border: none;
  color: white;
  transform: translate(-50%, -50%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
	margin-left:400px;
}

.truth { background-color: grey;
  position: absolute;
  border: none;
  color: white;
  transform: translate(-50%, -50%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
	margin-left:400px;
}
.shadow:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*W3schools start [responsive image]*/
.FirstPage #earths {
	max-width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
/*W3schools end*/

/* Framework - Ashley Dcosta */
/* --------------------------------------------------------------------------------------------------------------------------*/
/* Page 2&3 - Daiva */

.Page2Box1 {min-width:inherit;
  height: 400px;
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

/* --------------------------------------------------------------------------------------------------------------------------*/
/*Page 4, 5 & 6 - Ashley - formatted by Daiva for overall website consistency */

.Page4Box1 {min-width:inherit;
  height: 400px;
  margin-top: 0px;
  }

.Page4Box2 {min-width: 40%;
  height: 400px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;  
}

.Page4Box3 {
  min-width:inherit;
  height: 200px;
  text-align:center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 10px;
}

.Page4Box4 {
  min-width: inherit;
  height: 600px;
  text-align: center;
}

  .Page4Box4-1 {width: 40%;
  float: left;
  margin-left: 5%;
  text-align: justify;
}

.Page4Box4-2 {float: right;;
  width: 40%;
  text-align: justify;
  height: 400px;
  margin-right:5%;
}
  
/* --------------------------------------------------------------------------------------------------------------------------*/

.Page5Box1 { min-width:200px;
  max-width: inherit;
  max-height: 300px;
  margin-top: 5%;
  margin-left:5%;
  margin-right:5%;
  font-size: 25px;
  text-align:center;
  }

.Page5Box2 {min-width: 40%;
  height: 300px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;  
}

.Page5Box3 {
  min-width: inherit;
  max-width: inherit;
  height: 600px;
}  

.Page5Box3-1 {min-width:5%;
  max-width: 600px;
    float: left;
    margin-left: 5%;
    text-align: left;
}

.Page5Box3-2 {float: right;
  min-width:100px;
  max-width:600px;
  text-align:left; 
  height: 400px;
  margin-right:5%;
}

/* --------------------------------------------------------------------------------------------------------------------------*/

.Page6Box1 { min-width:inherit;
  height: 300px;
  margin-top: 5%;
  margin-left:5%;
  margin-right:5%;
  font-size: 20px;
  text-align:left;
}

.Page6Box2 {min-width: 40%;
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;}

.Page6Box3 
  height: 600px;
}

.Page6Box3-1 {min-width:inherit;
  max-width: 800px;
  height: 200px;
  text-align:left;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
}

.Page6Box3-2 {float:right;
margin-right: 100px;
}
        
.Page2Box1{min-width: 40%;
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

.Page2Box2 {
    min-width:inherit;
    height: 650px;
    text-align:center;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 10px; 
}

 .Page2Box3-1 {
   float: left;
  max-width: 40%;
  height: 600px;
  text-align: left;
  font-family: serif;
    color: white;
    font-variant: small-caps;
}

.Page2Box3-2{float: right;
  max-width: 40%;
  height: 600px;
  text-align: center;
}

.Page2Box3{
  width: inherit;
}

/*GENERAL-------------------------------------------------------------------------------------------------------------------------*/
:root {
    --position: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width:100%;
    height:100%;
    font-family: 'Share Tech Mono', monospace;
}

#container {
    height: 1000vh;
    background: #000;
}

.center {
    text-align: center;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50% , -50%);
}

.el-st {
    color: #eee;
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 4px;
}

.el-sp.is-changing {
    animation: changing 0.1s infinite;
}

.el-sp {
    transition: all 0.1s;
    text-shadow: 0 0 10px #008f11;
    position: relative;
    will-change: transform, opacity;
}

.el-sp:after {
    content:attr(data-txt);
    color:#eee;
    position: absolute;
    top: 0;
    left:0;
    opacity:0;
    will-change: transform, opacity;
}

.el-sp.is-changing:after {
    animation: changingAfter 0.4s infinite alternate;
}

.scroll {
    margin-top: 40px;
    color:#008f11;
    display: inline-block;
    padding-bottom: 3px; 
    padding-right: 40px;
    position: relative;
}

.scroll:after {
    content:'';
    position: absolute;
    left: calc(100% - 35px);
    top: 0;
    animation: dots 2s infinite;
}

@keyframes changing {
    0% {opacity:1;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}

@keyframes changingAfter {
    0% {opacity:0.3;transform:translateX(10px) scaleX(2)}
    50% {opacity:0;transform:translateX(0) scaleX(2)}
    100% {opacity:0.3;transform:translateX(-10px) scaleX(2)}
}

@keyframes dots {
    0% {content:''}
    25% {content:'.'}
    50% {content:'..'}
    75% {content:'...'}
}
    
