/* Date:2019-12-04 */
/* Group members: Abhinay Arora, Ashley Dcosta, Daiva */
/* Flat Earthers Unite */
body {max-width: inherit;
  background: linear-gradient(to top, #000066 0%, #ffffff 100%);
font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/*"fixed" position in top left corner"*/

/*{
  box-sizing: border-box;
}
*/
.logo {
    position: relative;
    top: 0;
    left: 0;
    /* responsive image W3schools start*/
    max-width: 100%;
    height: auto;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    /* W3schools end*/
}
/*W3schools start [fixed top menu]*/
/* navigation bar basics BY Abhinay Arora*/ 
.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Subnavbar for multiple pages by Abhinay Arora */
.subnav {
  float: left;
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 160px;
}
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: grey;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: grey;
  color: black;
}

.subnav:hover .subnav-content {
	display: block;
}

  
/* main content ?? */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay ??*/
  }

/* W3schools start [responsive navbar]*/

/* W3schools end all */
/*-- Framework - Ashley Dcosta */
.Page1h1 { min-width:inherit;
  background-color: khaki;
  height: 400px;
  margin-top: 0px;
  }

#p1b1 {
  min-width: inherit;
  background-color:lightcyan;
  height: 400px;
}  
.b1 {min-width: 40%;
  background-color: lightcoral;
  float: left;
  height: 400px;
  margin-left: 8%;
  margin-top: 5%;

}
.b2 {min-width: 40%;
  background-color: lightblue;
  float: right;
  height: 400px;
  margin-right: 8%;
  margin-top: 5%;
}
.Page1h2 {
  min-width: inherit;
  background-color: lavenderblush;
  height: 600px;
  text-align: center;
}  
/*-- End of Framework - Ashley Dcosta */
