/* Date:2019-12-04 */
/* Group members: Abhinay Arora, Ashley Dcosta, Daiva Paznekas */
/* Flat Earthers Unite */
body {max-width: inherit; max-height: inherit;
  background: linear-gradient(to top, #000066 0%, #ffffff 100%);
font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/*"fixed" position in top left corner"*/

/*{
  box-sizing: border-box;
}
*/
.logo {
    position: relative;
    top: 0;
    left: 0;
    /* responsive image W3schools start*/
    max-width: 100%;
    height: auto;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    /* W3schools end*/
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
/*W3schools start [fixed top menu]*/
/* navigation bar basics BY Abhinay Arora*/ 
.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Subnavbar for multiple pages by Abhinay Arora */
/*.subnav {
  float: left;
  overflow: hidden;
}*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 160px;
}
/*.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
*/
.navbar a:hover{
  background-color: grey;
}
/*
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: grey;
  color: black;
}

.subnav:hover .subnav-content {
	display: block;
}
*/
  
/* main content ?? */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay ??*/
  }

/* W3schools start [responsive navbar]*/

/* --------------------------------------------------------------------------------------------------------------------------*/

.FirstPage {
	margin:50px;
	width: auto;
	background: none;
	}

#Button1 {
	position:relative;
	vertical-align: middle;
	width: auto;
	background: none;
}

/*W3schools start [responsive image]*/
.FirstPage #earths {
	max-width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
/*W3schools end*/
	
/* --------------------------------------------------------------------------------------------------------------------------*/

/* W3schools end all */
/*-- Framework - Ashley Dcosta */
.Page1h1 { min-width:inherit;
  background-color: khaki;
  height: 400px;
  margin-top: 0px;
  }

#p1b1 {
  min-width: inherit;
  background-color:lightcyan;
  height: 400px;
}  
.b1 {min-width: 40%;
  background-color: lightcoral;
  float: left;
  height: 400px;
  margin-left: 8%;
  margin-top: 5%;

}
.b2 {min-width: 40%;
  background-color: lightblue;
  float: right;
  height: 400px;
  margin-right: 8%;
  margin-top: 5%;
}
.Page1h2 {
  min-width: inherit;
  background-color: lavenderblush;
  height: 600px;
  text-align: center;
}  
/** PAGE 4 BOXES **//
.Page4Box1 { min-width:inherit;
  background-color: blue;
  height: 400px;
  margin-top: 0px;
  }
.Page4Box2 {min-width: 40%;
  height: 400px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;  
}
.Page4Box3 {
  min-width:inherit;
  height: 200px;
  text-align:center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 10px;}
.Page4Box4 {
  min-width: inherit;
  height: 600px;
  text-align: center;
}
  .Page4Box4.1 {width: 40%;
  float: left;
  margin-left: 5%;
  text-align: justify;

}
.Page4Box4.2 {float: right;;
  width: 40%;
  text-align: justify;
  height: 400px;
  margin-right:5%;
}
  
/*-- End of Framework - Ashley Dcosta */

/*
.Page5h1 { min-width:inherit;
  
  height: 300px;
  margin-top: 5%;
  margin-left:5%;
  margin-right:5%;
  font-size: 25px;
  text-align:center;
  }
#p5b2 {min-width: 40%;
  height: 300px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;  
}
.Page5h2 {
  min-width:inherit;
  height: 200px;
  text-align:center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 10px;}

  .p5b1 {width: 40%;
    float: left;
    margin-left: 5%;
    text-align: justify;

}
.p5b2 {float: right;;
  width: 40%;
  text-align: justify;
  
  
  height: 400px;
  margin-right:5%;
;
}
.Page5h3 {
  min-width: inherit;
  
  height: 600px;
  text-align: center;
}  



.Page6h1 { min-width:inherit;
  
  height: 300px;
  margin-top: 5%;
  margin-left:5%;
  margin-right:5%;
  font-size: 20px;
  text-align:left;
  }
#p6b1 {min-width: 40%;
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;}
.Page6h2 {
    min-width:inherit;
    height: 200px;
    text-align:left;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;}
*/
        
.Page2Box1{min-width: 40%;
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

.Page2Box2 {
    min-width:inherit;
    height: 650px;
    text-align:center;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 10px; 
}

 .Page2Box3-1 {
   float: left;
  max-width: 40%;
  height: 600px;
  text-align: left;
  font-family: serif;
    color: white;
    font-variant: small-caps;
}

.Page2Box3-2{float: right;
  max-width: 40%;
  height: 600px;
  text-align: center;
}
.Page2Box3{
  width: inherit;
}
p {
    font-family: serif;
    color: white;
    font-variant: small-caps;
}
